{% load static %}
{% load myapps_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>detail</title>
    <link rel="stylesheet" href="{% static 'cv/style_detail.css' %}">
  </head>
  <body>
  <div class="container">
    {% for user_profile in user_profile %}
    <h1 >{{user_profile.name}}</h1>



    <p style="font-size:93%; margin-top: -2.5em;">{{user_profile.address}}</p>
    <p style="font-size:93%;margin-top:-1em">{{user_profile.city}}</p>
    <p style="font-size:93%;margin-top:-1em">+91-{{user_profile.phone}}</p>
    <p style="font-size:93%;margin-top:-1em">{{user_profile.email}} </p>
    <hr>

    <h2><strong>PROFILE</strong></h2>
    <p>{{user_profile.shortBio}}</p>
     <br>

    <h2><strong>SKILLS</strong></h2>
    {% with user_profile.skills|split:' ' as skills %}
     {% for skill in skills %}
    <ul>
      <li style="margin-top: -0.5em">{{skill}}</li>

    </ul>

     {% endfor %}
    {% endwith %}
     <br>

    <h2><strong>EXPERIENCE</strong></h2>
     <p><strong> {{user_profile.companyname}} </strong></p>
     <p>{{user_profile.experience}}</p>
     <br>

    <h2><strong>EDUCATION</strong></h2>
    <p><strong>{{user_profile.university}}</strong></p>
    <p>{{user_profile.degreeName}}</p>
    <br>

    <h2><strong>PROJECT</strong></h2>
    <p>{{user_profile.project}}</p>

{% endfor %}
    </div>
  </body>
</html>
