.container{

  padding-left: 15%;
  padding-right: 15%;

}
.ad{
  margin-top: -2.5em;
}
.container h1{
  font-size: 60px;
  font-family: Arial;
  font-weight: 400;
}
.container h2{
  font-size: 20px;
  font-family: Arial;
  font-weight: 500;
}
.container p{

  font-family: Arial;
  font-weight: 200;
}
